#mainheading{
    
color:blue;
text-align: center;
font-family:arial:sans-serif;  
font-size:35px;
padding:25px;
background-color:yellow;}


.heading{                     
color:orange;
font-family:arial; 
font size: 25px; 
background-color:lightblue;  
padding-left:100px;
padding-top:35px;
padding-bottom:35px;}

.sub{
    Color:purple;
    font-family:arial:sans-serif;
    font-size:20px;
    border:dotted; 
}

.text{
color:red;
font-family:arial:sans-serif;
font-size:11px;
}

.segment{
color:darkred;
padding: 20px

}

