.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px ;  
 
    
}

#logoImage {
    width: 750px;
    height: 150px;

}

.navLinks {
    display: flex;
    padding:25px

}

.navLinkItem {
    margin-left: 10px;
    list-style-type: none;
}

.servicesSectionsHomePage {
    width:150px;
    height:150px; 
    display:inline-block;
    align-items: center;
    text-align: center;
 
}

.servicesSectionsImageHomePage {  
    width:150px;
    height:150px; 
    display:inline-block;
    align-items: center;
    text-align: center;
    margin-left: 450px;
 
}

.tag{
margin-left:500px;
}

.contact{
align-items:center;
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

#button{}
